.WarehousePage {
  flex: 1;
  display: flex;
  flex-direction: column;

  .warehouse-header {
    height: 10rem;
    flex: 0 0 10rem;
    color: #FFFFFF;
    padding: .5rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--second);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  & > .ExTable {
    flex: 1;
  }
}
