.CompanyAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: var(--form-width);

    .FormInput, .FormInputFile {
      width: 100%;
    }

    .input-creator {
      position: relative;
      margin: 1.5rem 0 1rem 0;
      width: 100%;
    }

    .input-color {
      position: relative;
      margin: 1.5rem 0 1rem 0;
      width: 100%;

      .Choose ul li {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        padding: 0;
        color: #FFFFFF;
        position: relative;

        svg {
          display: none;
        }

        &.li--active {
          svg {
            height: 3rem;
            width: 3rem;
            display: block;
            position: absolute;
            top: 1rem;
            left: 1rem;
          }
        }

        .input-color-choice {
          height: 5rem;
          width: 5rem;
          display: block;
        }
      }

      &-info {
        color: var(--gray);
        font-size: 85%;
      }
    }
  }
}
