.CompanyAdd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    flex: 0 0 1rem;
  }

  form {
    padding: 2rem 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: var(--complex-form-width);

    .FormInput, .FormInputFile {
      width: 100%;
    }

    .input-creator {
      position: relative;
      margin: 1.5rem 0 1rem 0;
      width: 100%;
    }

    .plan-selection {
      margin: 1.5rem 0 1rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &-mentions {
        margin-top: 2rem;
        font-size: .7rem;
        color: var(--gray);
      }

      &-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: .5rem;
        margin-top: 1rem;

        & > div {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: var(--border-radius);
          box-shadow: var(--shadow);
          background-color: var(--inverse);
          position: relative;

          &:nth-child(2) {
            z-index: 2;
            transform: scale(1.1);
          }

          .plan-icon {
            font-size: 300%;
            padding: .5rem 0;
            color: var(--theme);
          }

          .plan-name {
            margin-top: 1rem;
          }

          .plan-info {
            display: block;
            font-size: .7rem;
            color: var(--gray);
          }

          .plan-price {
            width: calc(100% - 4rem);
            margin: .5rem 1rem;
            border-top: 2px solid var(--theme);

            &-amount {
              display: block;
              font-size: 200%;
              color: var(--theme);
              margin-bottom: -.5rem;
            }
          }

          ul {
            font-size: 85%;
            margin: .5rem 1rem;
            padding: 0;
            list-style-type: none;

            li {
              padding: .2rem 0;
            }

            span {

              .included {
                color: var(--green);
              }

              .optional {
                color: var(--orange);
              }

              .not-included {
                color: var(--red);
              }
            }
          }

          span.button {
            margin: .5rem;
          }
        }
      }
    }

    .input-color {
      position: relative;
      margin: 1.5rem 0 1rem 0;
      width: 100%;

      .Choose ul li {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        padding: 0;
        color: var(--inverse);
        position: relative;

        svg {
          display: none;
        }

        &.li--active {
          svg {
            height: 3rem;
            width: 3rem;
            display: block;
            position: absolute;
            top: 1rem;
            left: 1rem;
          }
        }

        .input-color-choice {
          height: 5rem;
          width: 5rem;
          display: block;
          border-radius: var(--border-radius);
        }

        .Icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }
      }

      &-info {
        color: var(--gray);
        font-size: 85%;
      }
    }
  }
}

@media screen and (min-width: 500px) and (orientation: portrait) {
  .CompanyAdd {
    form {
      .plan-selection {

        &-content {

          & > div {

            ul {
              width: 90%;
              display: flex;
              flex-flow: wrap;

              li {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .CompanyAdd {
    form {
      .plan-selection {

        &-content {
          margin: 0;
          flex-direction: column;

          & > div {
            margin: 1rem 0 0 0;

            &:nth-child(2) {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
