.CompanyAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: 20rem;

    .FormInput, .FormInputFile {
      width: 100%;
    }

    .input-creator {
      position: relative;
      margin: 1.5rem 0 1rem 0;
      border-radius: 4px;
      width: 100%;

      label {
        position: absolute;
        top: -1.2rem;
        left: 0;
        font-size: 85%;
        color: var(--second);
        z-index: 1;
      }
    }
  }
}
