.CompanyPage {
  flex: 1;
  display: flex;
  flex-direction: column;

  .joboffers {
    margin-top: 1rem;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background-color: var(--inverse);
  }

  .Tabs {
    flex: 1;

    .tab-container {
      margin: 0;
      width: 100%;

      .ExTable {
        box-shadow: none;
      }
    }
  }
}

