.FormInput {
  display: flex;
  position: relative;
  margin: 1.5rem 0 1rem 0;

  label {
    position: absolute;
    z-index: 1;
    color: var(--gray);
    top: .4rem;
    left: .5rem;
    font-size: 100%;
    transition: font-size .5s, top .5s, left .5s, color .5s;

    svg {
      margin-right: .2rem;
    }
  }

  input {
    flex: 1;
    position: relative;
    padding: .5rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    z-index: 2;
    background-color: transparent;

    &:active + label,
    &:focus + label,
    &:not(.input--empty) + label {
      top: -1.2rem;
      left: 0;
      font-size: 85%;
      color: var(--second);
      z-index: 1;
    }
  }
}
