.Dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;

  .role-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .role-content {
      margin: .5rem 0 0 0;
      flex: 1;
      width: 100%;
      box-shadow: var(--shadow);
      border-radius: 2px;
      display: flex;
      flex-direction: row;

      .Map, .LogTrack {
        height: 100%;
        flex: 1;
      }
    }
  }

  .dash-container {
    width: 100%;
    display: block;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .dash {
      height: 8rem;
      width: 100%;
      box-shadow: var(--shadow);
      display: flex;
      border-radius: 2px;
      overflow: hidden;
      transform: scale(1);
      transition: transform .5s;
      margin: .5rem 0 1rem 0;

      &-33 {
        width: calc(33% - 1rem);
      }

      &-weather {
        display: inline-block;
      }

      &.dash-sm {
        height: 4.5rem;

        .dash-left.dash-bg {
          clip-path: polygon(0% 0%, 100% 0%, 97.5% 100%, 0% 100%);
        }

        .dash-right.dash-bg {
          clip-path: polygon(2.5% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }

      &, &:hover, &:focus, &:active, &:link, &:visited {
        text-decoration: none;
        color: #000000;
      }

      &:hover {
        transform: scale(1.02);

        .dash-bg {
          flex: 3;
        }
      }

      .dash-bg {
        background-color: var(--second);
      }

      .dash-text {
        width: 100%;
        text-align: center;

        img {
          height: 1.5rem;
          vertical-align: middle;
          margin-right: .5rem;
        }
      }

      .dash-left {
        flex: 2;
        height: 100%;
        display: flex;
        align-items: center;
        transition: flex .5s;
        min-width: 0;

        &.dash-bg {
          clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
          color: #FFFFFF;
        }
      
        img {
          height: 100%;
        }

        svg {
          font-size: 150%;
          margin-right: .5rem;
        }
      }

      .dash-right {
        flex: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: flex .5s;
        min-width: 0;

        &.dash-bg {
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
          color: #FFFFFF;

          .dash-main {
            color: #FFFFFF;
          }
        }

        .dash-main {
          font-weight: bold;
          font-size: 200%;
          color: var(--second);
        }
      }
    }
  }
}
