.Dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;

  h1 {
    display: inline-flex;
    align-items: center;
  }

  .role-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    .line {
      flex: 2;
      width: 100%;
      display: flex;
      flex-direction: row;

      &.mobile-only {
        display: none;
      }

      & + .line {
        margin-top: 1rem;
      }

      &.line-small {
        flex: 1;
      }

      &.line-big {
        flex: 5;
      }

      .card {
        flex: 1;
        height: calc(100% - 1rem);
        display: block;
        background-color: var(--inverse);
        color: var(--text);
        position: relative;
        padding: .5rem;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--small-shadow);
        transition: box-shadow .5s;

        &:hover {
          box-shadow: var(--shadow);
        }

        &.mobile-only {
          display: none;
        }

        &-w {
          flex: 0 0 8rem;
        }

        &-inverse {
          background-color: var(--theme);

          &, &:hover, &:focus, &:visited, &:link, &:active {
            color: var(--inverse);
          }
        }

        .icon-overlay {
          font-size: 300%;
          position: absolute;
          bottom: -.02em;
          right: -.12em;
          opacity: var(--opacity-overlay);
          transition: all .33s;
        }

        & + .card:not(.card-stick) {
          margin-left: 1rem;
        }

        &.profile-link {

          &:hover .icon-overlay {
            transform: rotate(100deg);
          }
        }

        &.company-link {
          flex: 8;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: .5rem 0;
          width: 100%;

          .change-role-link {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: var(--theme);
            color: var(--inverse);
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
          }

          .company-details {

            &-name-container {
              height: 2rem;
              flex: 1;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }

            &-stats-container {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            &-stat {
              height: 2.2rem;
              display: flex;
              flex-direction: row;
              margin: .5rem 0;
              justify-content: center;
              align-items: center;
              width: 12rem;

              &-icon {
                height: 2.2rem;
                width: 2.2rem;
                margin-right: .6rem;
                flex: 0 0 2.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--theme);
                border-radius: var(--border-radius);
                color: var(--inverse);
                vertical-align: middle;
                position: relative;

                .badge {
                  display: none;
                }
              }

              &-content {
                display: flex;
                flex-direction: column;
                flex: 1;
              }

              .manage-link {
                color: var(--gray);
              }
            }
          }

          &:hover .icon-overlay {
            color: var(--theme);
            opacity: .9;
          }
        }

        &.alerts {
          background-color: var(--orange);
        }

        &.hour {

          &:hover .icon-overlay {
            transform: rotate(100deg);
          }
        }

        &.weather {

          .icon-overlay {
            right: -.1em;
            bottom: -.1em;
          }
        }

        &.location {

          &:hover .icon-overlay {
            transform: translateY(-20px);
          }
        }

        &.map {
          padding: 0;
          height: 100%;

          .Map {
            border-radius: var(--border-radius);
            height: 100%;
          }
        }

        &.logtrack {
          margin: .5rem 0;
          height: calc(100% - 2rem);
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          .ActionButton {
            display: none;
          }

          &.logtrack-with-button {

            .ActionButton {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Dashboard {
    .role-container .line .card.company-link {
      .company-details {

        &-stat {
          width: 5rem;
          flex: 1 0 5rem;
        }

        &-stat-icon {
          margin: 0;

          .badge {
            display: block;
            position: absolute;
            top: -.8rem;
            right: -1.2rem;
            font-size: 90%;
            box-shadow: var(--shadow);
            height: 1rem;
          }
        }

        &-stat-content {
          display: none;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .Dashboard {

    h1 {
      font-size: 135%;
    }

    .role-container {

      .line {

        & + .line {
          margin-top: .5rem;
        }

        &.mobile-only {
          display: flex;
        }

        &.line-big {
          flex-direction: column;
        }

        .card {

          &-w {
            flex: 1;

            h2 {
              font-size: 120%;
            }
          }

          &.mobile-only {
            display: block;
          }

          &.desktop-only {
            display: none;
          }

          & + .card:not(.card-stick) {
            margin-left: .5rem;
          }

          .icon-overlay {
            font-size: 200%;
          }

          &.map {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
          }

          &.logtrack {
            margin: 0;
            border-radius: 0 0 var(--border-radius) var(--border-radius);
          }

          &.company-link {
            flex-direction: column;

            .change-role-link {
              width: 100%;
            }

            .company-details-name-container {
              margin: 1rem 0;
            }


            .company-details-stats-container {
              flex-direction: row;
            }
          }
        }
      }

    }
  }
}

