.EmployeePage {
  flex: 1;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;

  .profile-title {
    font-size: 120%;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    margin-top: 1.1rem;

    .Icon {
      margin-right: .5rem;
    }

    &:after {
      content: '';
      height: 3px;
      margin: 0 0 0 1rem;
      background-color: var(--second);
      display: block;
      flex: 1;
      border-radius: var(--border-radius);
    }
  }

  .employee-header {
    height: 10rem;
    flex: 0 0 10rem;
    color: #FFFFFF;
    padding: .5rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--second);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    h1 {

      img {
        height: 4rem;
        width: 4rem;
      }
    }

    .actions {
      height: 2.4rem;
      display: block;

      .action {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2.4rem;
        padding: 0 .7rem;
        border: 0;
        background-color: #FFFFFF;
        color: var(--second);
        border-radius: var(--border-radius);

        & + .action {
          margin-left: 1rem;
        }

        .Icon {
          margin-right: .25rem;
        }
      }
    }
  }

  .employee-content {
    flex: 1;
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background-color: #FFFFFF;

    .certificates {
      display: block;
      flex: 1;
      padding: 0;
      margin: 0;
      min-height: min-content;
      overflow: auto;

      .certificates-list {
        height: 100%;
        display: block;
        max-height: 0;
        min-height: min-content;

        .certificate {
          width: calc(100% - 1rem);
          height: 1.5rem;
          margin: 0;
          display: block;
          padding: .5rem;
          transition: background-color .5s;
          position: relative;
  
          .certificate-date {
            margin: 0 1rem;
            font-size: 80%;
            color: var(--gray);
          }
    
          &:hover {
            background-color: var(--light-gray);
          }
        }
      }
    }

    .experience {
      display: block;
      flex: 1;
      padding: 0;
      margin: 0;
      min-height: min-content;
      overflow: auto;
      margin-left: 2rem;

      .experience-list {
        height: 100%;
        display: block;
        max-height: 0;
        min-height: min-content;

        .experience-item {
          width: calc(100% - 1rem);
          height: 1.5rem;
          margin: 0;
          display: block;
          padding: .5rem;
          transition: background-color .5s;
          position: relative;

          .experienceItem-date {
            margin: 0 1rem;
            font-size: 80%;
            color: var(--gray);
          }
    
          &:hover {
            background-color: var(--light-gray);
          }
        }
      }
    }

    .roles {
      display: block;
      flex: 1;
      padding: 0;
      margin: 0;
      min-height: min-content;
      overflow: visible auto;
      margin-left: 2rem;

      .roles-list {
        height: 100%;
        display: block;
        max-height: 0;
        min-height: min-content;

        .role {
          width: calc(100% - 1rem);
          height: 1.5rem;
          margin: 0;
          display: block;
          padding: .5rem;
          transition: background-color .5s;
          position: relative;

          .role-date {
            margin: 0 1rem;
            font-size: 80%;
            color: var(--gray);
          }

          .Icon {
            vertical-align: middle;
          }
    
          &:hover {
            background-color: var(--light-gray);
          }
        }

        .role-separator {
          margin: .5rem 0;
          height: 1px;
          width: 100%;
          background-color: var(--gray);
          display: block;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .EmployeePage {
    
    .employee-content {
      flex-direction: column;

      .experience {
        margin-left: 0;
      }

      .roles {
        margin-left: 0;
      }
    }
  }
}
