.Checkbox {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  min-width: 0;

  label {
    color: var(--theme);
    font-size: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;

    .square {
      color: var(--inverse);
      flex: 0 0 1.2rem;
      margin: 0 1rem 0 .5rem;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 2px;
      border: 2px solid var(--theme);
      background-color: var(--inverse);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      transition: background-color .5s;;

      .check-icon {
        display: none;
        opacity: 0;
        transition: opacity .5s;
      }
    }
  }

  input {
    display: none;

    &:checked {
      & + label {

        .square {
          background-color: var(--theme);

          .check-icon {
            display: block;
            opacity: 1;
          }
        }
      }
    }
  }
}
