.Choose {

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    li {
      padding: .25rem;
      margin: .25rem 0;
      border: 1px solid var(--theme);
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: var(--inverse);
      color: var(--theme);
      transition: color .5s, background-color .5s;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: var(--border-radius);
      margin-right: .5rem;

      &.li--active {
        background-color: var(--theme);
        color: var(--inverse);

        .sub {
          transition: color .5s;
          color: var(--inverse);
        }
      }

      &.li--disabled {
        cursor: not-allowed;
        border: 1px solid var(--gray);
        color: var(--gray);
      }

      img {
        width: 5rem;
        height: 5rem;
        display: block;
      }
    }
  }

  &--vertical {
    ul {
      flex-direction: column;
      flex-wrap: nowrap;

      li {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        
        &:not(:last-child) {
          border-bottom: 1px solid var(--gray);
        }
      }
    }
  }
}
