.WarehouseAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: var(--complex-form-width);

    .Map {
      height: 10rem;
      margin-bottom: 1rem;

      .leaflet-container {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
      }
    }

    .input-location {
      margin-bottom: 0;
      border-radius: var(--border-radius) var(--border-radius) 0 0;

      .indicator {
        border-radius: 0;
      }
    }
  }
}
