.AnimatedLogo {
  max-width: 100%;
  overflow: hidden;

  svg {
    transform-origin: center center;
    animation: logo 16s ease-in-out infinite;
  }

  #pathL { animation: pathL 16s linear infinite; }
  #pathO { animation: pathO 16s linear infinite; }
  #pathG { animation: pathG 16s linear infinite; }
  #pathT { animation: pathT 16s linear infinite; }
  #pathR { animation: pathR 16s linear infinite; }
  #pathA { animation: pathA 16s linear infinite; }
  #pathC { animation: pathC 16s linear infinite; }
  #pathK { animation: pathK 16s linear infinite;
      clip-path: polygon(-1% -1%, 25% -1%, 25% 50%, 85% 20%, 101% 35%, 101% 88%, 101% 101%, 80% 101%, 25% 75%, 25% 101%, -1% 101%);
      clip-path: polygon(-1% -1%, 25% -1%, 25% 50%, 85% 20%, 101% 35%, 58% 58%, 46% 65%, 35% 70%, 25% 75%, 25% 101%, -1% 101%);
      clip-path: polygon(-1% -1%, 25% -1%, 25% 50%, 25% 50%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 101%, -1% 101%);
      clip-path: polygon(-1% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, -1% -1%);
  }
}

@keyframes logo {
  0%, 87.5%, 93.75%, 100% { transform: scale(1); } 
  90.625% { transform: scale(1.5); }
}

@keyframes pathL {
  0%, 6.25%, 81.25%, 100% { transform: translateX(373px); }
  12.5%, 75% { transform: translateX(0px); }
}

@keyframes pathO {
  0%, 16.25%, 71.875%, 100% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 30%, 101% 30%, 101% 30%, 101% 30%, 101% 30%, 50% 30%); }
  //START
  16.406%, 71.093% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, 101% 101%, 101% 101%, 101% 101%, 101% 101%, 50% 50%); }
  17.187%, 70.312% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, 50% 101%, 50% 101%, 50% 101%, 50% 101%, 50% 50%); }
  17.969%, 69.531% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, -1% 101%, -1% 101%, -1% 101%, -1% 101%, 50% 50%); }
  18.75%, 68.75% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, -1% 101%, -1% 50%, -1% 50%, -1% 50%, 50% 50%); }
  19.531%, 67.968% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, -1% 101%, -1% -1%, -1% -1%, -1% -1%, 50% 50%); }
  20.312%, 67.187% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, -1% 101%, -1% -1%, 50% -1%, 50% -1%, 50% 50%); }
  21.094%, 66.406% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, -1% 101%, -1% -1%, 101% -1%, 101% -1%, 50% 50%); }
  //END
  21.875%, 65.625% { clip-path: polygon(50% 50%, 50% 30%, 101% 30%, 101% 101%, -1% 101%, -1% -1%, 101% -1%, 101% 30%, 50% 30%); }
}

@keyframes pathG {
  0%, 18.75%, 68.75%, 100% { clip-path: polygon(50% 25%, 70% 25%, 70% 66%, 70% 66%, 70% 66%, 70% 66%, 70% 66%, 70% 66%, 70% 66%, 70% 66%, 70% 25%); }
  //START
  19.271%, 68.229% { clip-path: polygon(50% 25%, 70% 25%, 70% 60%, 50% 60%, 50% 66%, 50% 66%, 50% 66%, 50% 66%, 50% 66%, 50% 66%, 50% 25%); }
  19.792%, 67.708% { clip-path: polygon(50% 25%, 70% 25%, 70% 60%, 50% 60%, -1% 55%, -1% 60%, -1% 60%, -1% 60%, -1% 60%, -1% 60%, 50% 25%); }
  20.312%, 67.187% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% 30%, -1% 30%, -1% 30%, -1% 30%, -1% 30%, 50% 30%); }
  20.833%, 66.667% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, -1% -1%, -1% -1%, -1% -1%, -1% -1%, 50% 30%); }
  21.354%, 66.146% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 50% -1%, 50% -1%, 50% -1%, 50% -1%, 50% 30%); }
  21.875%, 65.625% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% -1%, 101% -1%, 101% -1%, 50% 30%); }
  22.396%, 65.104% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% 30%, 101% 30%, 101% 30%, 70% 30%); }
  22.917%, 64.583% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% 75%, 101% 75%, 101% 75%, 70% 75%); }
  23.437%, 64.062% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% 101%, 101% 101%, 101% 101%, 50% 75%); }
  23.958%, 63.542% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% 101%, 50% 101%, 50% 101%, 50% 75%); }
  24.479%, 63.021% { clip-path: polygon(50% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% 101%, -1% 101%, -1% 101%, 50% 75%); }
  //END
  25%, 62.5% { clip-path: polygon(72% 30%, 70% 30%, 70% 60%, 50% 60%, -1% 55%, -1% -1%, 101% -1%, 101% 101%, -1% 101%, -1% 60%, 72% 65%); }
}

@keyframes pathT {
  0%, 6.25%, 81.25%, 100% { transform: translateX(103px); }
  12.5%, 75% { transform: translateX(0px); }
}

@keyframes pathR {
  0%, 21.875%, 65.625%, 100% { clip-path: polygon(101% 101%, -1% 101%, /*ANIM*/ -1% 101%, -1% 101%, 101% 101%); }
  // START
  23.958%, 63.542% { clip-path: polygon(101% 101%, -1% 101%, /*ANIM*/ -1% 33%, -1% 33%, 101% 33%); }
  26.042%, 61.458% { clip-path: polygon(101% 101%, -1% 101%, /*ANIM*/ -1% -1%, -1% -1%, 101% 33%); }
  //END
  28.125%, 59.375% { clip-path: polygon(101% 101%, -1% 101%, /*ANIM*/ -1% -1%, 101% -1%, 101% 33%); }
}

@keyframes pathA {
  0%, 25%, 62.5%, 100% { clip-path: polygon(50% 50%, 80% 50%, 80% 101%, 80% 101%, 80% 101%, 80% 101%, 80% 101%, 80% 101%, 80% 50%); }
  //START
  25.781%, 61.719% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% 101%, 101% 101%, 101% 101%, 101% 50%, 50% 50%); }
  26.562%, 60.937% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% -1%, 101% -1%, 101% -1%, 101% -1%, 50% 50%); }
  27.344%, 60.156% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% -1%, 50% -1%, 50% -1%, 50% -1%, 50% 50%); }
  28.125%, 59.375% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% -1%, -1% -1%, -1% -1%, -1% -1%, 50% 50%); }
  28.906%, 58.594% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% -1%, -1% -1%, -1% 50%, -1% 50%, 50% 50%); }
  29.687%, 57.812% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% -1%, -1% -1%, -1% 101%, -1% 101%, 50% 50%); }
  30.468%, 57.031% { clip-path: polygon(50% 50%, 70% 50%, 70% 101%, 101% 101%, 101% -1%, -1% -1%, -1% 101%, 50% 101%, 50% 50%); }
  //END
  31.25%, 56.25% { clip-path: polygon(50% 50%, 80% 50%, 80% 101%, 101% 101%, 101% -1%, -1% -1%, -1% 101%, 80% 101%, 80% 50%); }
}

@keyframes pathC {
  0%, 28.125%, 59.375%, 100% { clip-path: polygon(101% -1%, 101% 50%, /*ANIM*/ 101% -1%, 101% -1%, 101% -1%); }
  // START
  29.687%, 57.812% { clip-path: polygon(101% -1%, 101% 50%, /*ANIM*/ -1% -1%, -1% -1%, -1% -1%); }
  31.25%, 56.25% { clip-path: polygon(101% -1%, 101% 50%, /*ANIM*/ -1% 50%, -1% 50%, -1% -1%); }
  32.812%, 54.687% { clip-path: polygon(101% -1%, 101% 50%, /*ANIM*/ -1% 101%, -1% 101%, -1% -1%); }
  //END
  34.375%, 53.125% { clip-path: polygon(101% -1%, 101% 50%, /*ANIM*/ 101% 101%, -1% 101%, -1% -1%); }
}

@keyframes pathK {
  0%, 31.25%, 56.25%, 100% { clip-path: polygon(-1% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, 25% -1%, -1% -1%); }
  //START
  33.333%, 54.167% { clip-path: polygon(-1% -1%, 25% -1%, 25% 50%, 25% 50%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 101%, -1% 101%); }
  35.417%, 52.083% { clip-path: polygon(-1% -1%, 25% -1%, 25% 50%, 85% 20%, 101% 35%, 58% 58%, 46% 65%, 35% 70%, 25% 75%, 25% 101%, -1% 101%); }
  //END
  37.5%, 50% { clip-path: polygon(-1% -1%, 25% -1%, 25% 50%, 85% 20%, 101% 35%, 101% 88%, 101% 101%, 80% 101%, 25% 75%, 25% 101%, -1% 101%); }
}
