.FormInputFile {
  position: relative;
  margin: 1.5rem 0 1rem 0;

  label {
    border: 1px solid var(--gray);
    border-radius: 4px;
    display: flex;
    height: 5rem;
    width: 100%;
    cursor: pointer;

    img {
      height: 5rem;
      border-radius: 4px 0 0 4px;
      width: 5rem;
      flex: 0 0 5rem;
      display: inline-block;
      border-right: 1px solid var(--gray);
    }

    span {
      height: 5rem;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        margin-right: .2rem;
      }
    }
  }

  input[type="file"] {
    display: none;
  }

  .input-label {
    position: absolute;
    top: -1.2rem;
    left: 0;
    font-size: 85%;
    color: var(--second);
    z-index: 1;

    svg {
      margin-right: .2rem;
    }
  }
}
