.Warehouses {
  flex: 1;
  display: flex;
  flex-direction: column;

  .Map {
    height: 25rem;
    flex: 0 0 25rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
  }

  .ExTable {
    margin-top: 1rem;
    border-radius: var(--border-radius);
    flex: 1;
  }
}
