.Modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: var(--tooltip-background);

  &--show {
    display: flex;
  }

  &-content {
    height: auto;
    width: 50%;
    background-color: var(--inverse);
    border-radius: var(--border-radius);
    display: block;
    padding: .5rem;

    .actions {
      margin-top: .5rem;

      button {
        border: 0;
        background-color: var(--theme);
        border-radius: var(--border-radius);
        border: 1px solid var(--theme);
        color: var(--inverse);
        padding: .5rem;
        cursor: pointer;
  
        &[value="CANCEL"] {
          background-color: var(--inverse);
          color: var(--theme);
        }
  
        & + button {
          margin-left: .5rem;
        }
      }
    }
  }
}
