.EquipmentAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: var(--form-width);

    .FormInput, .FormInputFile {
      width: 100%;
    }

    .model-selection {
      position: relative;
      border: 1px solid var(--gray);
      border-radius: var(--border-radius);
      padding: .5rem;
      margin: 1.5rem 0 1rem 0;

      &--done {
        position: relative;
        margin: 1.5rem 0 1rem 0;

        .Element.Element--tile {
          width: 100%;
          margin: 0;
        }
      }

      .model-result {
        text-align: center;
        padding: .5rem 0;

        &:not(:first-child) {
          border-top: 1px solid var(--gray);
        }

        h3 {
          display: inline;
          padding: 0 1rem;
        }

        img {
          width: 5rem;
          height: 5rem;
          display: block;
          margin: 0 auto;
        }
      
        .action {
          height: 2rem;
          width: 2rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: var(--second);
          border-radius: var(--border-radius);
          margin-left: 1rem;
          cursor: pointer;
          vertical-align: middle;
        }
      }

      .equipment-model-add-link {
        font-size: 80%;
        width: 100%;
        display: block;
        text-align: center;
        padding: .2rem 0;
        border-top: 1px solid var(--gray);
      }
    }

    .input-creator,
    .input-company {
      position: relative;
      margin: 1.5rem 0 1rem 0;
      width: 100%;
    }
  }
}
