.ExTable {
  background-color: #FFFFFF;
  box-shadow: var(--shadow);

  .header-container {
    width: calc(100% - 1rem);
    padding: 0 .5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--light-gray);

    .header {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: row;
      color: var(--gray);
      justify-content: space-between;
      align-items: center;
      visibility: hidden;
    }

    .view-switcher {
      cursor: pointer;
      flex: 0 0 4rem;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .view {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: color .5s;

        &--active {
          color: var(--second);
        }
      }
    }
  }

  ul {
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li.loader {
      text-align: center;
    }

    li.no-item {
      display: flex;
      height: 2rem;
      justify-content: center;
      align-items: center;
    }
  }

  &--list {
    .header-container {
      .header {
        visibility: visible;
      }
    }

    ul {
      display: block;
    }
  }
}
