.ExTable {
  background-color: #FFFFFF;
  box-shadow: var(--shadow);

  .header {
    width: calc(100% - 1rem);
    padding: 0 .5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
    color: var(--light-gray);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 .5rem;
      height: 2rem;
      display: flex;
      flex-direction: row;

      &.loader {
        justify-content: center;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--light-gray);
      }
    }
  }
}
