.Navigation {
  background-color: var(--theme);
  display: flex;
  flex-direction: column;
  color: var(--inverse);
  padding: 1rem 0;
  height: calc(100% - 2rem);
  position: relative;
  z-index: 2;
  flex: 0 0 3.5rem;
  transition: flex .5s;
  min-width: 0;
  transition: background-color .5s;

  &-mobile {
    display: none;
  }

  nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    width: calc(100% - .7rem);
    margin-left: .7rem;

    .nav-clearfix {
      flex: 1;
    }

    a,
    a:hover,
    a:focus,
    a:visited,
    a:active,
    a:link {
      color: var(--inverse);
      text-decoration: none;
      height: 2.5rem;
      flex-basis: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 .5rem;
      width: calc(100% - 1rem);
      position: relative;

      &.nav--active {
        background-color: var(--light-gray);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        border-right: 2px solid var(--light-gray);
        color: var(--theme);

        &:before {
          content: '';
          position: absolute;
          bottom: calc(100% - 1px);
          right: -1px;
          height: 1rem;
          width: 1rem;
          display: block;
          background-color: var(--light-gray);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 60% 90%, 80% 80%, 90% 60%);
        }

        &:after {
          content: '';
          position: absolute;
          top: calc(100% - 1px);
          right: -1px;
          height: 1rem;
          width: 1rem;
          display: block;
          background-color: var(--light-gray);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 40%, 80% 20%, 60% 10%);
        }
      }

      &:not(.nav--active):hover {
        .nav-title {
          width: 10rem;
          padding-left: .5rem;
          left: calc(100% - .5rem);
        }
      }

      svg {
        margin-right: .5rem;
      }

      .nav-title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 2.5rem;
        background-color: var(--theme);
        overflow: hidden;
        transition: width .5s, padding-left .5s, left .1s;
        white-space: nowrap;
        padding-left: 0rem;
        z-index: 5;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .Navigation--deployed {
    flex: 0 0 12rem;

    nav {
      a,
      a:hover,
      a:focus,
      a:visited,
      a:active,
      a:link {
        justify-content: flex-start;

        .nav-title {
          display: block;
          height: 1.3rem;
          min-width: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          left: 0;
          white-space: nowrap;
          width: auto;
          background-color: transparent;

          &-role {
            display: block;
            overflow: visible;
            font-size: 85%;
            line-height: 1;
          }
        }

        &:not(.nav--active):hover {
          .nav-title {
            padding-left: .5rem;
            left: 0;
          }
        }

        svg {
          margin-right: .5rem;
        }
      }
    }

    .indicator i {
      border-left: none;
      border-right: 7px solid var(--light-gray);
    }
  }
}

@media screen and (orientation: portrait) {
  .Navigation {
    height: 3rem;
    min-height: 3rem;
    flex: 0 0 3rem;
    padding: 0;
    z-index: 9999;
    box-shadow: var(--shadow);
    border-radius: 0;
    width: 100%;

    &.Navigation--opened {
      nav {
        height: 100vh;
        width: 100vw;
        justify-content: center;

        a,
        a:hover,
        a:focus,
        a:visited,
        a:active,
        a:link {

          &:not(.nav--active) {
            display: flex;

            .nav-title {
              display: flex;
              align-items: center;
              color: var(--inverse);
              width: auto;
              position: static;
            }
          }
        }
      }
    }

    &-mobile {
      position: absolute;
      z-index: 10000;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
      display: flex;
      font-size: 120%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    nav {
      margin-left: 0;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: var(--theme);
      left: 0;
      height: 100%;
      transition: height .5s;

      .nav-clearfix {
        display: none;
      }

      a,
      a:hover,
      a:focus,
      a:visited,
      a:active,
      a:link {
        justify-content: center;
        align-items: center;

        &.nav--active {
          background-color: transparent;
          color: var(--inverse);
          border: 0;
          height: 3rem;
          flex: 0 0 3rem;

          &:before, &:after {
            display: none;
          }

          .nav-title {
            display: flex;
            align-items: center;
            color: var(--inverse);
            width: auto;
            position: static;
          }
        }

        &:not(.nav--active) {
          display: none;
        }
      }
    }
  }
}
