.Role {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .2rem;

  & + .Role {
    border-top: 1px solid var(--light-gray);
  }

  & > .Icon {
    margin: 0 .25rem;
  }

  .Role-actions {
    margin: 0 0 0 .5rem;
    display: flex;
    flex-direction: row;

    svg {
      margin-right: .25rem;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      height: 1.4rem;
      box-shadow: none;
      padding: 0 .5rem;
      color: #000000;
      transition: color .5s;

      &:hover {
        color: var(--second)
      }
    }
  }

  .Role-dates {
    font-size: 80%;
    color: var(--gray);

    span + span {
      margin-left: .5rem;
    }
  }
}
