.Role {
  display: flex;
  flex-direction: row;
  background-color: var(--second);
  height: 1.8rem;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin: 0 .5rem;
  padding: 0 .5rem;

  & > svg {
    margin-right: .25rem;
  }

  .Role-actions {
    margin: 0 0 0 .5rem;

    svg {
      margin-right: .25rem;
    }

    button {
      cursor: pointer;
      border: 0;
      background-color: #FFFFFF;
      height: 1.4rem;
      padding: 0 .5rem;
      border-radius: var(--border-radius);
      color: var(--second);
    }
  }
}
