.SignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: var(--form-width);

    .FormInput, .FormInputFile {
      width: 100%;
    }
  }
}
