.Profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  input[type="file"] {
    display: none;
  }

  .signout {
    float: right;

    &, &:hover, &:active, &:focus, &:visited, &:link {
      color: var(--red);
    }

    svg {
      margin-right: .5rem;
    }
  }

  .profile-title {
    font-size: 120%;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    margin-top: 1.1rem;

    svg {
      margin-right: .5rem;
    }

    &:after {
      content: '';
      height: 3px;
      margin: 0 0 0 1rem;
      background-color: var(--second);
      display: block;
      flex: 1;
      border-radius: var(--border-radius);
    }
  }

  .profile-picture-container {
    height: 7rem;
    flex: 0 0 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;

    img {
      height: 7rem;
      width: 7rem;
      flex: 0 0 7rem;
      border: 2px solid var(--second);
      margin-right: 1rem;
      border-radius: var(--border-radius);
    }

    .profile-picture-description {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .profile-picture-action {
        cursor: pointer;
        color: var(--second);

        &-delete {
          color: var(--red);
        }

        & + .profile-picture-action {
          padding-left: .5rem;
          margin-left: .5rem;
          border-left: 1px solid var(--light-gray);
        }

        svg {
          margin-right: .2rem;
        }
      }

      .profile-picture-info {
        margin-top: .5rem;
        color: var(--gray);
        font-size: 80%;
        line-height: 1.3;
        display: block;

        svg {
          margin-right: .3em;
        }
      }

      .profile-picture-actions {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .personal-info-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    flex-direction: column;

    .personal-info-line {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &-actions {
        justify-content: flex-end;

        button {
          border: 0;
          background-color: var(--second);
          color: #FFFFFF;
          padding: .5rem;
          border-radius: var(--border-radius);
        }
      }

      label {
        color: var(--second);
        font-size: 80%;
      }

      .personal-info-infos {
        width: 100%;
        display: flex;
        color: var(--gray);
        font-size: 85%;

        svg {
          margin-right: .3rem;
          vertical-align: middle;
        }
      }

      .personal-info-input-container {
        width: 48%;
        margin: .5rem 0;
        display: flex;
        flex-direction: column;

        input {
          padding: .5rem;
          border-radius: var(--border-radius);
          border: 0;
          cursor: not-allowed;
        }
      }
    }
  }

  .bottom-container {
    flex: 1;
    display: flex;
    flex-direction: row;

    .certificates-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;

      .profile-title {
        flex: 0 0 2rem;
      }
  
      div.certificates {
        display: block;
        flex: 1;
        padding: 0;
        margin: 0;
        min-height: 4rem;
        overflow: auto;

        .certificates-list {
          height: 100%;
          display: block;
          max-height: 0;
          min-height: 4rem;

          .certificate {
            width: calc(100% - 1rem);
            height: 1.5rem;
            margin: 0;
            display: block;
            padding: .5rem;
            transition: background-color .5s;
            position: relative;
  
            .certificate-date {
              margin: 0 1rem;
              font-size: 80%;
              color: var(--gray);
            }
      
            button {
              overflow: hidden;
              position: absolute;
              top: 0;
              right: 0;
              width: 0;
              height: 2.5rem;
              padding: 0;
              margin: 0;
              color: #FFFFFF;
              background-color: var(--red);
              transition: width .5s;
              border: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
      
              svg {
                min-width: 0;
              }
            }
      
            &:hover {
              background-color: var(--light-gray);
      
              button {
                width: 2.5rem;
              }
            }
          }
        }
      }
    
      .certificate-add {
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        flex: 0 0 1.5rem;
        margin: .5rem 0;
        width: 100%;
    
        input.certificate-add-name-input {
          flex: 1 1 60%;
          height: 24px;
          box-sizing: border-box;
          padding: 0 .5rem;
          margin: 0;
          border: 0;
          border-bottom: 1px solid var(--second);
          border-radius: var(--border-radius) 0 0 0;
        }

        .react-datetime-picker {
          flex: 1 1 20%;

          .react-datetime-picker__wrapper {
            width: 100%;
          }
        }
    
        button.certificate-add-submit {
          height: 24px;
          box-sizing: border-box;
          flex: 1 1 20%;
          margin: 0;
          padding: 0;
          background-color: var(--second);
          color: #FFFFFF;
          border: 1px solid var(--second);
          cursor: pointer;
        }
      }
    }

    .experience-container {
      flex: 1;
      height: 100%;
      display: flex;
      margin-left: 2rem;
      flex-direction: column;

      div.experience {
        display: block;
        flex: 1;
        padding: 0;
        margin: 0;
        min-height: 4rem;
        overflow: auto;

        .experience-list {
          height: 100%;
          display: block;
          max-height: 0;
          min-height: 4rem;

          .experience-item {
            width: calc(100% - 1rem);
            height: 1.5rem;
            margin: 0;
            display: block;
            padding: .5rem;
            transition: background-color .5s;
            position: relative;
  
            .experienceItem-date {
              margin: 0 1rem;
              font-size: 80%;
              color: var(--gray);
            }
      
            button {
              overflow: hidden;
              position: absolute;
              top: 0;
              right: 0;
              width: 0;
              height: 2.5rem;
              padding: 0;
              margin: 0;
              color: #FFFFFF;
              background-color: var(--red);
              transition: width .5s;
              border: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
      
              svg {
                min-width: 0;
              }
            }
      
            &:hover {
              background-color: var(--light-gray);
      
              button {
                width: 2.5rem;
              }
            }
          }
        }
      }

      .experience-add {
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        margin: .5rem 0;
        width: 100%;
    
        input.experience-add-name-input {
          flex: 1 1 20%;
          height: 24px;
          min-width: 5rem;
          box-sizing: border-box;
          padding: 0 .5rem;
          margin: 0;
          border: 0;
          border-bottom: 1px solid var(--second);
          border-radius: var(--border-radius) 0 0 0;
        }

        input.experience-add-company-input {
          flex: 1 1 20%;
          height: 24px;
          box-sizing: border-box;
          min-width: 5rem;
          padding: 0 .5rem;
          margin: 0;
          border: 0;
          border-bottom: 1px solid var(--second);
          border-radius: var(--border-radius) 0 0 0;
        }

        .react-datetime-picker {
          flex: 1 1 20%;

          .react-datetime-picker__wrapper {
            width: 100%;
          }
        }
    
        button.experience-add-submit {
          height: 24px;
          box-sizing: border-box;
          flex: 1 1 20%;
          margin: 0;
          padding: 0;
          background-color: var(--second);
          color: #FFFFFF;
          border: 1px solid var(--second);
          cursor: pointer;
        }
      }
    }
  }  

  .tab-support {

    .support-tel {
      height: 2rem;
      display: inline-block;
      border: 2px solid var(--green);
      box-sizing: border-box;
      border-radius: var(--border-radius);
      width: 10.5rem;

      &-icon {
        width: 2rem;
        height: 2rem;
        border-radius: var(--border-radius);
        background-color: var(--green);
        color: #FFFFFF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: -2px;
        margin-left: -2px;
      }

      &-number {
        vertical-align: top;
        height: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: -2px;
        margin-left: .5rem;
      }
    }

    details {
      width: 100%;
      font-size: 85%;
      color: var(--gray);
      display: block;
      cursor: pointer;

      span {
        display: block;

        &.support-message-warning {
          color: var(--red);
        }
      }
    }

    .support-form {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;

      textarea {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        border-bottom: 2px solid var(--second);
      }

      &-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: .2rem;

        button {
          border: 0;
          background-color: var(--second);
          padding: .5rem;
          color: #FFFFFF;
          border-radius: var(--border-radius);
          cursor: pointer;
        }
      }
    }
  }

  .settings-loading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-right: 1rem;
    }
  }

  .settings-container {
    flex: 1;
    width: 100%;
    display: block;

    .setting-container {
      background-color: #FFFFFF;
      transition: background-color .5s;
      border-radius: var(--border-radius);
      margin: 0;
      padding: .5rem;

      &:hover {
        background-color: var(--light-gray);
      }

      .profile-title {
        margin: 0;
      }
          
      .setting-note {
        color: var(--gray);
        font-size: 85%;

        svg {
          margin-right: .5rem;
        }
      }

      ul {
        flex: 1;
        height: 10rem;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius);
          margin: 1rem;
          cursor: pointer;

          & > span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          &.selected {
            background-color: var(--second);
            color: #FFFFFF;
          }

          svg {
            height: 4rem;
            width: auto;
            display: block;
            border: 2px solid var(--gray);
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .Profile {

    .bottom-container {
      flex-direction: column;

      .experience-container {
        margin-left: 0;
      }
    }

    .profile-title {
      margin-top: .5rem;
    }
  }
}
