.Profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;

  .report {

    &-setting h2 {
      display: inline;
      font-size: 1rem;
    }
  }

  .personalFilesList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;

    li {
      display: flex;
      height: 2rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--light-gray);

      &:first-child {
        border-top: 1px solid var(--light-gray);
      }

      .Icon {
        color: var(--gray);
      }
    }
  }

  .Tabs {
    max-height: calc(100% - 3rem);

    .tab-container {
      max-height: 100%;
      overflow: auto;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .FormInput {
      width: 100%;
    }
  }

  input[type="file"] {
    display: none;
  }

  .signout {
    float: right;

    &, &:hover, &:active, &:focus, &:visited, &:link {
      color: var(--red);
    }

    svg {
      margin-right: .5rem;
    }
  }

  .profile-title {
    font-size: 120%;
    display: flex;
    align-items: center;
    margin: .5rem 0 .2rem 0;

    svg {
      margin-right: .5rem;
    }
  }

  .profile-root-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-flow: wrap;
  }

  .personal-info {

    &-container {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      align-content: flex-start;
      flex-direction: column;

      .ExTable {
        width: 100%;
        max-height: 15rem;
        overflow-y: auto;
      }
    }

    &-line {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &-separator {
        flex: 0 0 4rem;
      }

      &-actions {
        justify-content: flex-end;

        button {
          border: 0;
          background-color: var(--theme);
          color: var(--inverse);
          padding: .5rem;
          border-radius: var(--border-radius);
        }
      }

      label {
        color: var(--theme);
        font-size: 80%;
      }
    }

    &-infos {
      width: 100%;
      display: flex;
      color: var(--gray);
      font-size: 85%;

      svg {
        margin-right: .3rem;
        vertical-align: middle;
      }
    }
  }

  .tab-support {

    .support-tel {
      height: 2rem;
      display: inline-block;
      border: 2px solid var(--green);
      box-sizing: border-box;
      border-radius: var(--border-radius);
      width: 10.5rem;

      &-icon {
        width: 2rem;
        height: 2rem;
        border-radius: var(--border-radius);
        background-color: var(--green);
        color: var(--inverse);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: -2px;
        margin-left: -2px;
      }

      &-number {
        vertical-align: top;
        height: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: -2px;
        margin-left: .5rem;
      }
    }

    details {
      width: 100%;
      font-size: 85%;
      color: var(--gray);
      display: block;

      summary {
        cursor: pointer;
      }

      span {
        display: block;

        &.support-message-warning {
          color: var(--red);
        }
      }
    }

    .support-form {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;

      .FormTextarea {
        flex: 1;
        width: 100%;
        min-height: 12rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        textarea {
          flex: 1;
        }
      }

      &-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: .2rem;

        button {
          border: 0;
          background-color: var(--theme);
          padding: .5rem;
          color: var(--inverse);
          border-radius: var(--border-radius);
          cursor: pointer;
        }
      }
    }
  }

  .settings-loading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-right: 1rem;
    }
  }

  .settings-container {
    flex: 1;
    width: 100%;
    display: block;

    .setting-container {
      background-color: var(--inverse);
      transition: background-color .5s;
      border-radius: var(--border-radius);
      margin: 0;
      padding: .5rem;

      &:hover {
        background-color: var(--light-gray);
      }

      .profile-title {
        margin: 0;
      }
          
      .setting-note {
        color: var(--gray);
        font-size: 85%;

        svg {
          margin-right: .5rem;
        }
      }

      ul {
        flex: 1;
        height: 10rem;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius);
          margin: 1rem;
          cursor: pointer;

          & > span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          &.selected {
            background-color: var(--theme);
            color: var(--inverse);
          }

          svg {
            height: 4rem;
            width: auto;
            display: block;
            border: 2px solid var(--gray);
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .Profile {
    .profile-picture {

      &-container {
        img {
          margin: 0 auto;
          display: block;
        }
      }

      &-description {
        display: block;
        width: 100%;
        max-width: 100%;
        text-align: center;
      }

      &-action {
        display: block;
        width: 100%;

        & + .profile-picture-action {
          margin: 0;
          border: 0;
          padding: 0;
        }
      }
    }

    .profile-root-content {
      
      &-part {
        width: calc(100% - 2rem);
      }
    }

    .button-label {
      display: none;
    }

    .personal-info {
      &-line {
        flex-direction: column;

        &-separator {
          display: none;
        }
      }
    }

    .bottom-container {
      .experience-add {
        flex-flow: wrap;

        &-line {
          width: 100%;
          flex: 0 0 100%;
          height: auto;
          margin: .5rem 0;
        }
      }

      .certificate-add-submit,
      .experience-add-submit {
        flex: 0 0 24px;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
