.CountrySelect {

  .country-item {
    display: flex;


    &-flag {
      height: 1rem;
      width: 1.5rem;
      flex: 0 0 1.5rem;
      vertical-align: middle;
      margin-right: .5rem;
    }
  }
}
