.Splash {
  flex: 1;
  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 2rem;
    text-align: center;
  }

.plan-selection {
  margin: 1.5rem 0 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-mentions {
    margin-top: 2rem;
    font-size: .7rem;
    color: var(--gray);
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    margin-top: 1rem;

    & > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
      background-color: var(--inverse);
      position: relative;
      z-index: 1;

      &:nth-child(2) {
        z-index: 2;
        transform: scale(1.1);
      }

      &:nth-child(4) {
        z-index: 0;
        transform: scale(.9);
        margin-left: -1rem;
      }

      .plan-icon {
        font-size: 300%;
        padding: .5rem 0;
        color: var(--theme);
      }

      .plan-name {
        margin-top: 1rem;
      }

      .plan-info {
        display: block;
        font-size: .7rem;
        color: var(--gray);
      }

      .plan-price {
        width: calc(100% - 4rem);
        margin: .5rem 1rem;
        border-top: 2px solid var(--theme);

        &-amount {
          display: block;
          font-size: 200%;
          color: var(--theme);
          margin-bottom: -.5rem;
        }
      }

      ul {
        font-size: 85%;
        margin: .5rem 1rem;
        padding: 0;
        flex: 1;
        list-style-type: none;

        li {
          padding: .2rem 0;

          &:first-child {
            margin-bottom: 1rem;
          }
        }

        span {

          .included {
            color: var(--green);
          }

          .optional {
            color: var(--orange);
          }

          .not-included {
            color: var(--red);
          }
        }
      }

      span.button {
        margin: .5rem;
      }
    }
  }
}

  .name-container {
    position: relative;
    height: 50vh;
    border-radius: var(--border-radius);

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center 75%;
      border-radius: var(--border-radius);
    }

    &-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: var(--border-radius);
      position: absolute;
      background-color: rgba(0, 0, 0, .4);
      top: 0;
      padding: 0 1rem;
      box-sizing: border-box;
      overflow: hidden;

      svg {
        max-height: 80%;
        max-width: 100%;
        object-fit: contain;
        fill: var(--inverse);
      }

      .headline {
        text-transform: uppercase;
        font-size: 140%;
        font-weight: bold;
        color: var(--inverse);
        margin-top: 1rem;
        letter-spacing: .15rem;
      }
    }
  }

  .functionalities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    &-advice {
      color: var(--gray);
      margin-bottom: 1rem;
    }

    .functionality {
      width: 100%;
      max-width: 45rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin: 5rem auto;

      &:nth-child(2n) {
        padding-left: 5rem;
      }

      .icon-wrapper {
        height: 6rem;
        flex: 0 0 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200%;
        color: var(--text);
        border-radius: 3rem;
        position: relative;

        svg.circle {
          fill: transparent;
          height: 6rem;
          width: 6rem;
          stroke: var(--theme);
          stroke-dasharray: 10 4;
          stroke-width: 2px;
          position: absolute;
          animation: power-circle 5s infinite linear;
          transform: rotate(-90deg);
        }
      }

      &-text {
        flex: 1;
        margin-left: 1.2rem;

        h3 {
          font-weight: bold;
        }
      }

      svg.link {
        position: absolute;
        top: 5.5rem;
        left: calc(3rem - 1px);
        stroke: var(--theme);
        stroke-width: 2px;
        stroke-dasharray: 10 4;
        height: 11rem;
        width: 5rem;
        animation: power-circle 5s infinite linear;
      }
    }
  }

  footer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;

    a {
      &, &:hover, &:active, &:focus, &:visited, &:link {
        color: var(--gray);
      }

      & + a {
        margin-left: 2rem;
      }
    }
  }

  .FAQ {
    .Accordion {
      width: 60%;
      margin: 2rem auto;
    }
  }

  .Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      width: var(--form-width);
    }
  }

  .Credits {
    max-width: 800px;
    margin: 0 auto;
  }
}

@keyframes power-circle {
  to {
    stroke-dashoffset: -98;
  }
}

@media screen and (min-width: 500px) and (orientation: portrait) {
  .Splash {

    .plan-selection {

      &-content {
  
        & > div {
  
          ul {
            width: 90%;
            display: flex;
            flex-flow: wrap;
  
            li {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .Splash {
    footer {
      flex-flow: wrap;

      a {
        width: calc(33% - 2rem);
        text-align: center;
        margin: .5rem 1rem;

        & + a {
          margin: .5rem 1rem;
        }
      }
    }

    .plan-selection {

      &-content {
        margin: 0;
        flex-direction: column;

        & > div {
          margin: 1rem 0 0 0;

          &:nth-child(2) {
            transform: scale(1);
          }
        }
      }
    }
  }
}
