.DevDoc {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;

  &-button {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
    margin: 0 1rem;
    font-size: 80%;
  }

  .Tabs {
    max-height: calc(100% - 3rem);
    
    .tab-container {
      max-height: 100%;
      overflow: auto;
    }
  }

  .section {

    &-colors {
      .color {

        &-container {
          width: calc(100% - 2rem);
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 1rem;

          h3 {
            padding: 0;
          }
        }
      }
    }

    &-palettes {
      .palette {
        width: 12rem;
        list-style: none;
        display: flex;
        margin: 0 1rem 0 0;
        padding: 0;

        li {
          width: 3rem;
          height: 3rem;
          flex: 0 0 3rem;

          &:first-child {
            border-radius: .5rem 0 0 .5rem;
          }

          &:last-child {
            border-radius: 0 .5rem .5rem 0;
          }
        }

        &-container {
          width: calc(100% - 2rem);
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 1rem;

          h3 {
            padding: 0;
          }
        }
      }
    }

    &-logos {

      .logo {
        &-small { font-size: 120%; }
        &-medium { font-size: 400%; }
        &-big { font-size: 850%; }

        &s-container {
          width: 100%;
          display: grid;
          grid-template-areas: "first first"
                              "second third";
        }

        &-container {
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          &:first-child { grid-area: first; }
          &:nth-child(2) { grid-area: second; }
          &:nth-child(3) { grid-area: third; }

          .Icon {
            padding: 1rem;
          }
        }
      }
    }
  }

  &ServicesTab {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .Tabs {
      flex: 1;
      margin: 0;
      height: 100%;
      max-height: 100%;

      .tab-container {
        padding: 0 1em;
      }

      & > ul {
        background-color: unset;
        border-right: 1px solid var(--theme);
        overflow-y: auto;
        overflow-x: hidden;

        li.tab {
          color: var(--gray);
          position: relative;
          border-top: 1px solid var(--inverse);
          border-bottom: 1px solid var(--inverse);
          border-left: 1px solid var(--inverse);

          &.tab--selected {
            border-color: var(--theme);

            &:after {
              height: 100%;
              width: 1px;
              background-color: var(--inverse);
              content: '';
              position: absolute;
              right: -1px;
            }
          }
        }
      }
    }
  }

  &ComponentsTab {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ActionButton {
      position: absolute;
    }

    .Tabs.Tabs--horizontal, .Map {
      min-height: 30rem;
    }

    .Range, .ExTable, .FormTextarea, .FormInput, .FormAutoSuggestInput, .FormDebounceInput, 
      .FormDebounceAutoSuggestInput, .Accordion, .FormInputFile, .Tabs, .Map, .LogTrackTimeline {
      width: 90%;
    }

    .ExTable, .Map {
      margin-top: 1rem;
    }

    .Map ~ button {
      margin-top: 1rem;
    }

    & > .Tabs {
      flex: 1;
      margin: 0;
      height: 100%;
      max-height: 100%;

      .tab-container {
        padding: 0 1em;
      }

      & > ul {
        background-color: unset;
        border-right: 1px solid var(--theme);
        overflow-y: auto;
        overflow-x: hidden;

        li.tab {
          color: var(--gray);
          position: relative;
          border-top: 1px solid var(--inverse);
          border-bottom: 1px solid var(--inverse);
          border-left: 1px solid var(--inverse);

          &.tab--selected {
            border-color: var(--theme);
            right: -1px;
          }
        }
      }
    }
  }

  &RootTab {
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template: auto 1fr 1fr / 1fr 1fr;
    grid-template-areas: "head head"
                          "identity components"
                          "identity services";

    .root {
      &-head { grid-area: head; }
      &-identity { grid-area: identity; }
      &-components { grid-area: components; }
      &-services { grid-area: services; }

      &-identity, &-components, &-services {
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 150%;
        background-color: unset;
        border-radius: var(--border-radius);
        overflow: hidden;
        color: var(--text);
        transition: color .5s;

        &:hover {
          color: var(--inverse);

          &:after {
            height: 100%;
          }
        }

        & > .Icon {
          flex: 1;
          font-size: 250%;
          margin: 0 auto;
          position: relative;
          z-index: 1;
        }

        div:not(.Icon) {
          flex: 0 0 2.5rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: .5rem 1rem;
          color: var(--inverse);
          position: relative;
          z-index: 1;

          .Icon {
            padding: 0;
          }
        }

        &:after {
          width: 100%;
          height: 3.5rem;
          left: 0;
          bottom: 0;
          content: '';
          position: absolute;
          z-index: 0;
          background-color: var(--theme);
          transition: height .5s;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .DevDoc {
    
    .section {
      &-logos {
        .logos-container {
          grid-template-areas: "first"
                              "second"
                              "third";
        }
      }
    }

    &RootTab {
      grid-template: auto 1fr 1fr 1fr / 1fr;
      grid-template-areas: "head"
                            "identity"
                            "components"
                            "services";
    }
  }
}
