.CompanyPage {
  flex: 1;
  display: flex;
  flex-direction: column;

  .company-header {
    height: 10rem;
    flex: 0 0 10rem;
    color: #FFFFFF;
    padding: .5rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--second);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    h1 {

      img {
        min-width: 4rem;
        height: 4rem;
        width: 4rem;
      }
    }

    .actions {
      height: 2.4rem;
      display: block;

      .action {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2.4rem;
        padding: 0 .7rem;
        border: 0;
        background-color: #FFFFFF;
        border-radius: var(--border-radius);
        cursor: pointer;

        & + .action {
          margin-left: 1rem;
        }

        .Icon {
          margin-right: .25rem;
        }
      }
    }
  }

  .Tabs {
    flex: 1;

    .tab-container {
      margin: 0;
      width: 100%;

      .ExTable {
        box-shadow: none;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .CompanyPage {
    .company-header {
      justify-content: space-around;
      flex-direction: column;
      padding: 1rem .5rem;
    }
  }
}
